<center><h1 id="cart-title">Cart</h1></center>

<br>

<div class="shopping-cart">
  <%= render "shopping_cart" %>

<% if !(@order_items.size == 0) %>

  <div class="well">
    <div class="row">
      <div class="pull-left" id="order-header">
        <h1>Order</h1>
      </div>
      <div class="pull-right" id="total">
        <div>
        <h2>Total Cost:</h2>
        <h3><%= number_to_currency current_order.subtotal %></h3>
      </div>
        <br>
        <div class="pull-right">
          <%= link_to "Checkout", new_charge_path, class: 'btn-lg btn-success' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
